body{
	position: fixed; 
    overflow-y: scroll;
    width: 100%;
}
form input { border: 0; padding: 10px; margin-right: .5%; }
#messages { 
	list-style-type: none; 
 	overflow: auto;
	position: absolute;
	padding-left: 1px; 
}
#messages li{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
}
#messages li:nth-child(odd) { background: #eee; }
#loginModal{
  display: inline-flex;
  transition: opacity 0.3s, visibility 0.3s;
}
.noDisplay * {
	display: none;
}

#mainContainer{
	position: relative;
	min-height:100%;
}

div#gameBoardContainer{
	position: relative;
    display: inline-flex;
	width: 75vw;
    height: 100vh;
}

div#chatContainer{
	position: fixed;
    display: inline-flex;
    margin-left: auto;
	width: 22vw;
    height: 100vh;
}

#gameBoardContainer canvas {
	position: relative;
    display: inline-flex;
	width: 100%;
	height: 15%;
}

#gameBoardContainer canvas.room {
  	background-size: 100% 100%;
  	opacity: .80;
}

canvas#Study {
	background: url("/img/Study.png");
}

canvas#Library {
	background: url("/img/Library.png");
}

canvas#Conservatory {
	background: url("/img/Conservatory.png");
}

canvas#Hall {
	background: url("/img/Hall.png");
}

canvas#BilliardRoom {
	background: url("/img/BilliardRoom.png");
}

canvas#Ballroom {
	background: url("/img/Ballroom.png");
}

canvas#Lounge {
	background: url("/img/Lounge.png");
}

canvas#DiningRoom {
	background: url("/img/DiningRoom.png");
}

canvas#Kitchen {
	background: url("/img/Kitchen.png");
}

#gameBoardContainer canvas.hallway.horizontal{
	background: url("/img/hallway-horizontal.png");
	background-size: 100% 50%;
	background-position: center;
  	background-repeat: no-repeat;
  	opacity: .75;
}

#gameBoardContainer canvas.hallway.vertical{
	background: url("/img/hallway-vertical.png");
	background-size: 50% 100%;
	background-position: center;
  	background-repeat: no-repeat;
  	opacity: .75;
}

form#chatForm {
    display:inline-flex;
    position: fixed; 
    bottom: .5%;
}

button.submitMessage {
	display:inline-flex;
	position: fixed; 
    bottom: .5%;
    width: 5%; 
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 10px;
}

input#messageInput {
	display:inline-flex;
	width: 90%;
	background: #e3e3e3;
}

.lineBreak{
	clear: both;
}

.flex-container {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

/*.flex-item * {
    -webkit-order: 0;
    -ms-flex-order: 0;
    order: 0;
    -webkit-flex: 0 1 auto;
    -ms-flex: 0 1 auto;
    flex: 0 1 auto;
    -webkit-align-self: auto;
    -ms-flex-item-align: auto;
    align-self: auto;
}*/

character{
	position: absolute;
    display: inline-flex;
	width: 20% !important;
	height: 15% !important;
  	z-index: 3;
  	font-size: 100%;
  	vertical-align: middle;
    text-align: center;
}
.gameBoardColumn{
	display: inline-block;
	float: left;
	width: 20%;
	height: 100%;
}