body{
	position: fixed; 
    overflow-y: scroll;
    display: none;
}
form input { border: 0; padding: 10px; margin-right: .5%; }

input.makeAccuggation{
	position: fixed;
    top: 90%;
  	margin-left: 37.5vw;
  	transform: translate(-100%, -100%);
	width: 20vw;
	height: 10vh;
	background-color: #2aa22a;
	font-size: larger;
  	font-weight: bold;
  	color: #ffffff;
  	text-align: center;
  	display: none;
	background-color:#35b128;
	border:1px solid #33842a; /*same color as the background*/
	font-size:1.6em;
	/*set the border-radius at half the size of the width and height*/
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	/*give the button a small drop shadow*/
	-webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
	box-shadow: 2px 2px 15px rgba(0,0,0, .75);

}
#messages { 
	list-style-type: none; 
 	overflow: auto;
	position: absolute;
	padding-left: 1px; 
}
#messages li{
	padding-top: 1px;
	padding-bottom: 1px;
	padding-left: 5px;
	padding-right: 5px;
}
#messages li:nth-child(odd) { background: #eee; }
#loginModal{
  display: inline-flex;
  transition: opacity 0.3s, visibility 0.3s;
}
.noDisplay{
	display: none !important;
}

#mainContainer{
	position: relative;
	min-height:100%;
}

div#gameBoardContainer{
	position: relative;
    display: inline-flex;
	width: 75vw;
    height: 80vh;
}

div#cardContainer{
	position: relative;
  display: inline-flex;
	width: 75vw;
  height: 17.5vh;
}

.gameBoardColumn{
	display: inline-block;
	float: left;
	height: 100%;
	width: 20%;
}

div#chatContainer{
	position: fixed;
  display: inline-flex;
  margin-left: auto;
	width: 22vw;
  height: 100vh;
  bottom: 0px;
}

form#chatForm {
    display:inline-flex;
    position: fixed; 
    bottom: .5%;
}

button.submitMessage {
	display:inline-flex; 
    bottom: .5%;
    width: 5%; 
    background: rgb(130, 224, 255); 
    border: none; 
    padding: 10px;
}

input#messageInput {
	display:inline-flex;
	width: 90%;
	background: #e3e3e3;
}

.lineBreak{
	clear: both;
}

.flex-container {
    display: -ms-inline-flexbox;
    display: -webkit-inline-flex;
    display: inline-flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: nowrap;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-justify-content: flex-start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-align-content: stretch;
    -ms-flex-line-pack: stretch;
    align-content: stretch;
    -webkit-align-items: flex-start;
    -ms-flex-align: start;
    align-items: flex-start;
    }

#gameBoardContainer canvas {
	position: relative;
    display: inline-flex;
	width: 100%;
	height: 19%;
}

#gameBoardContainer canvas.room {
  	background-size: 100% 100%;
}

canvas#Study {
	background: url("/img/gameBoard/Study.png");
}

canvas#Library {
	background: url("/img/gameBoard/Library.png");
}

canvas#Conservatory {
	background: url("/img/gameBoard/Conservatory.png");
}

canvas#Hall {
	background: url("/img/gameBoard/Hall.png");
}

canvas#BilliardRoom {
	background: url("/img/gameBoard/BilliardRoom.png");
}

canvas#Ballroom {
	background: url("/img/gameBoard/Ballroom.png");
}

canvas#Lounge {
	background: url("/img/gameBoard/Lounge.png");
}

canvas#DiningRoom {
	background: url("/img/gameBoard/DiningRoom.png");
}

canvas#Kitchen {
	background: url("/img/gameBoard/Kitchen.png");
}

#gameBoardContainer canvas.hallway.horizontal{
	background: url("/img/gameBoard/hallway-horizontal.png");
	background-size: 100% 50%;
	background-position: center;
  	background-repeat: no-repeat;
}

#gameBoardContainer canvas.hallway.vertical{
	background: url("/img/gameBoard/hallway-vertical.png");
	background-size: 50% 100%;
	background-position: center;
  	background-repeat: no-repeat;
}

div#gameBoardContainer character{
	position: absolute;
    display: inline-flex;
    width: 7.5% !important;
    height: 7.5% !important;
  	z-index: 3;
  	vertical-align: middle;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    opacity: .9;
}

div#gameBoardContainer character.myCharacter:hover{
	cursor:pointer;
    opacity: 1;
    width: 10% !important;
    height: 10% !important;
}

character#MissScarlet{
	background: url("/img/cards/MissScarlet.png");
}

character#ColonelMustard{
	background: url("/img/cards/ColonelMustard.png");
}

character#MrsWhite{
	background: url("/img/cards/MrsWhite.png");
}

character#MrGreen{
	background: url("/img/cards/MrGreen.png");
}

character#MrsPeacock{
	background: url("/img/cards/MrsPeacock.png");
}

character#ProfessorPlum{
	background: url("/img/cards/ProfessorPlum.png");
}

card{
	position: relative;
  display: inline-flex;
	width: 15%;
  height: 100%;
}

card#suggestionAnswerCard{
	width: 20vw;
	height: 25vh;
	margin-right: 27.5vw;
    margin-left: 27.5vw;
}

button.askSuggestionButton{
  position: relative;
  display: inline-flex;
  width: 20vw;
  height: 25vh;
  margin-left: 27.5vw;
  cursor:pointer;
}

button.close{
	position: absolute;
	width: 15vw;
	height: 7.5vh;
	left: 0px;
	margin-left: 27.5vw;
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	padding:5px 10px; /*add some padding to the inside of the button*/
	background:#f5100a; /*the color of the button*/
	border:1px solid #33842a; /*required or the default border for the browser will appear*/
	/*give the button curved corners, alter the size as required*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*give the button a drop shadow*/
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	/*style the text*/
	color:#f3f3f3;
	font-size:1em;
}

button.close:hover{
    background-color :#c40b08; /*make the background a little darker*/
    /*reduce the drop shadow size to give a pushed button effect*/
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
    box-shadow: 0 0 1px rgba(0,0,0, .75);
}

button#makeAccusation{
	position: absolute;
	width: 15vw;
	height: 7.5vh;
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    padding:5px 10px; /*add some padding to the inside of the button*/
    background:#FF9A00; /*the color of the button*/
    border:1px solid #33842a; /*required or the default border for the browser will appear*/
    /*give the button curved corners, alter the size as required*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    /*style the text*/
    color:#f3f3f3;
    font-size:1em;
}

button#makeAccusation:hover{
    background-color :#e68a00; /*make the background a little darker*/
    /*reduce the drop shadow size to give a pushed button effect*/
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
    box-shadow: 0 0 1px rgba(0,0,0, .75);
}

button#makeSuggestion{
	position: absolute;
	width: 15vw;
	height: 7.5vh;
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    padding:5px 10px; /*add some padding to the inside of the button*/
    background:#ffcc00; /*the color of the button*/
    border:1px solid #33842a; /*required or the default border for the browser will appear*/
    /*give the button curved corners, alter the size as required*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    /*style the text*/
    color:#f3f3f3;
    font-size:1em;
}

button#makeSuggestion:hover{
    background-color :#e6b800; /*make the background a little darker*/
    /*reduce the drop shadow size to give a pushed button effect*/
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
    box-shadow: 0 0 1px rgba(0,0,0, .75);
}

button#endTurn{
	position: absolute;
	width: 15vw;
	height: 7.5vh;
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
    padding:5px 10px; /*add some padding to the inside of the button*/
    background:#f5100a; /*the color of the button*/
    border:1px solid #33842a; /*required or the default border for the browser will appear*/
    /*give the button curved corners, alter the size as required*/
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    /*give the button a drop shadow*/
    -webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
    box-shadow: 0 0 4px rgba(0,0,0, .75);
    /*style the text*/
    color:#f3f3f3;
    font-size:1em;
}

button#endTurn:hover{
    background-color :#c40b08; /*make the background a little darker*/
    /*reduce the drop shadow size to give a pushed button effect*/
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
    box-shadow: 0 0 1px rgba(0,0,0, .75);
}


button#startGame{
	position: fixed;
    top: 90%;
  	margin-left: 50vw;
  	transform: translate(-100%, -100%);
	width: 20vw;
	height: 10vh;
	background-color: #2aa22a;
	font-size: larger;
  	font-weight: bold;
  	color: #ffffff;
  	text-align: center;
  	display: none;
	background-color:#35b128;
	border:1px solid #33842a; /*same color as the background*/
	font-size:1.6em;
	/*set the border-radius at half the size of the width and height*/
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	/*give the button a small drop shadow*/
	-webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
	box-shadow: 2px 2px 15px rgba(0,0,0, .75);
}

button#startGame:hover{
  background:#258e25;
  border:1px solid #2d7425;
  /*reduce the size of the shadow to give a pushed effect*/
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
  box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

div.modal{
	position: absolute;
	display: none;
  	transition: opacity 0.3s, visibility 0.3s;
  	background:#e8e8e8;
    border: 1px solid #dadada;
    font-family:sans-serif;
    padding: 5px 10px 20px 20px;
    z-index: 101;
}

#loaderContainer {
  width: 75vw;
  height: 100vh;
  background-color: #000000;
  position: absolute;
  z-index: 99;
  display: none;
}

#askSuggestion{
  width: 75vw;
  height: 100vh;
  background-color: #000000;
  position: absolute;
  z-index: 99;
  display: none;
  opacity: .95;
}

div#askSuggestionText{
  font-size: larger;
  font-weight: bold;
  color: #fefefe;
  z-index: 101;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 2em;
  padding-right: 2em;
}

#suggestionAnswerModal{
  width: 75vw;
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  position: absolute;
  z-index: 110;
  opacity:	.95;
  display: none;
}

div#suggestionAnswerText{
  font-size: larger;
  font-weight: bold;
  color: #fefefe;
  z-index: 111;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 2em;
  padding-right: 2em;
}

button#suggestionAnswerClose{
	position: absolute;
	width: 15vw;
	height: 7.5vh;
	margin-top: 10vw;
	margin-left: 30vw;
    margin-right: 30vw;
	cursor:pointer; /*forces the cursor to change to a hand when the button is hovered*/
	padding:5px 10px; /*add some padding to the inside of the button*/
	background:#f5100a; /*the color of the button*/
	border:1px solid #33842a; /*required or the default border for the browser will appear*/
	/*give the button curved corners, alter the size as required*/
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px;
	/*give the button a drop shadow*/
	-webkit-box-shadow: 0 0 4px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 4px rgba(0,0,0, .75);
	box-shadow: 0 0 4px rgba(0,0,0, .75);
	/*style the text*/
	color:#f3f3f3;
	font-size:1em;
}

button#suggestionAnswerClose:hover{
    background-color :#c40b08; /*make the background a little darker*/
    /*reduce the drop shadow size to give a pushed button effect*/
    -webkit-box-shadow: 0 0 1px rgba(0,0,0, .75);
    -moz-box-shadow: 0 0 1px rgba(0,0,0, .75);
    box-shadow: 0 0 1px rgba(0,0,0, .75);
}

div#accusationAnswerModal{
  width: 75vw;
  height: 100vh;
  padding-left: 0px;
  padding-right: 0px;
  background-color: #000000;
  position: absolute;
  z-index: 999;
  opacity:	.95;
  display: none;
}

div#accusationAnswerText{
  font-size: larger;
  font-weight: bold;
  color: #fefefe;
  z-index: 111;
  text-align: center;
  padding-top: 10vh;
  padding-bottom: 10vh;
  padding-left: 2em;
  padding-right: 2em;
}

button#restartGame{
	position: fixed;
    top: 90%;
    left: 0px;
  	margin-left: 50vw;
  	transform: translate(-100%, -100%);
	width: 20vw;
	height: 10vh;
	background-color: #2aa22a;
	font-size: larger;
  	font-weight: bold;
  	color: #ffffff;
  	text-align: center;
  	display: none;
	background-color:#35b128;
	border:1px solid #33842a; /*same color as the background*/
	font-size:1.6em;
	/*set the border-radius at half the size of the width and height*/
	-webkit-border-radius: 50px;
	-moz-border-radius: 50px;
	border-radius: 50px;
	/*give the button a small drop shadow*/
	-webkit-box-shadow: 0 0 10px rgba(0,0,0, .75);
	-moz-box-shadow: 0 0 10px rgba(0,0,0, .75);
	box-shadow: 2px 2px 15px rgba(0,0,0, .75);
}

button#restartGame:hover{
  background:#258e25;
  border:1px solid #2d7425;
  /*reduce the size of the shadow to give a pushed effect*/
  -webkit-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
  -moz-box-shadow: 0px 0px 5px rgba(0,0,0, .75);
  box-shadow: 0px 0px 5px rgba(0,0,0, .75);
}

.loader {
  color: #ffffff;
  font-size: 90px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 72px auto;
  position: relative;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load6 1.7s infinite ease;
  animation: load6 1.7s infinite ease;
  z-index: 100;
}

#loaderText {
  font-size: larger;
  font-weight: bold;
  color: #fefefe;
  z-index: 101;
  text-align: center;
  padding-left: 2em;
  padding-right: 2em;
}

@-webkit-keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes load6 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}